19 37
16 17
^;^;^;^;^;^;^;^;^;^;^;^;^;^;^;  ;  ;  ;#;.;.;#;^;^;^;^;^;^;^;^;^;^;^;^;^
^;^;^;^;^;^;^;^;^;^;^;^;^;^;^;#;.;  ;#;.;.;#;^;^;^;^;^;^;^;^;^;=;=;=;^
^;^;^;^;^;^;^;^;^;^;^;^;^;^;^;#;,;  ;  ;,;#;#;^;^;^;^;^;^;^;^;^;=;^;^;^
^;^;^;^;^;^;^;^;^;^;^;^;^;^;^;.;.;@9;  ;  ;.;^;^;^;^;^;^;^;%;=;=;=;^;^;^
^;^;^;^;^;^;^;^;%;.;.;.;.;.;.;.;.;.;.;.;.;%;^;^;^;^;^;=;=;=;^;^;^;^;^
^;^;#;#;#;#;^;%;.;.;.;.;%;%;%;.;.;.;.;.;.;.;%;%;%;%;%;=;%;@2;%;^;^;^;^
^;^;#;.;@1;#;.;.;.;=;=;=;=;=;=;=;=;=;=;=;=;=;=;=;=;=;=;=;^;^;^;^;^;^;^
^;^;#;.;.;,;.;.;=;=;.;%;%;%;.;.;.;.;.;.;.;.;.;.;.;.;@8;^;^;^;^;^;^;^;^
^;^;#;#;#;#;.;.;=;.;.;.;.;.;.;.;.;.;.;.;  ;  ;%;%;%;^;. ;^;^;^;^;^;^;^;^
^;^;^;^;%;%;=;=;=;.;.;.;.;.;.;@0;.;.;.;%;  ;  ;%;%;^;^;.;^;^;^;^;^;^;^;^
^;^;%;%;.;%;=;.;.;.;.;.;.;.;.;.;.;%;%;%;  ;  ;^;^;^;^;^;.;.;.;^;^;^;^;^
^;%;=;=;=;=;=;.;%;%;%;.;.;.;%;%;%;^;^;^;  ;  ;^;^;^;^;^;^;  ;^;. ;^;^;^;^
^;%;=;%;%;%;%;^;^;^;^;%;%;.;%;^;^;^;^;^;  ;  ;^;^;^;^;^;^;^;  ;^;.;^;^;^
^;.;=;%;^;^;^;^;^;^;^;^;^;. ;^;^;^;^;^;^;  ;  ;^;^;^;^;^;^;^;^;  ;,;#;#;#
^;%;=;%;^;^;^;^;^;^;^;^;^;.;^;^;^;^;^;^;  ;  ;^;^;^;^;^;^;^;^;  ;  ;.;.;@3
^;%;=;.;^;^;^;^;^;^;^;^;^;^;.;.;>;.;^;^;  ;  ;^;^;^;^;^;^;^;^;  ;  ;  ;  ;.
  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;^;^;^;^;^;^;^;^;^;^;^;^;  ;  ;  ;.;.;.
